html{
    height: 100%;
}
body{
    background-color: rgb(12, 36, 69);
    margin: 0px;
    min-height: 100%;
}
.header{
    background-color: rgb(226, 220, 220);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 4px;
    border-color: rgb(0, 0, 0);
    border-style: outset;
    border-left: none;
    border-right: none;
    border-top: none;
}
.bgimage{
    height: 100vh;
    background-size: cover;
    width: auto;
    height: auto;
}
h1{
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
}
li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    align-items: center;
    font-size: x-small;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    border: 0.5px 0.5px;
    border-color: black;
    border-style: outset;
    border-radius: 5px;
}
.text>h2{
    text-align: center;
    color:antiquewhite;
    text-shadow: 4px 3px 1px rgb(0, 0, 0);
}
h3{
    text-align: center;
    padding: 4px 0;
    font-size: medium;
    text-shadow: 4px 3px 1px rgb(0, 0, 0);
}
.images>img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px navajowhite;
}
p{
    text-align: center;
    padding: 5 0px;
    color: antiquewhite;
    text-shadow: 4px 3px 1px rgb(0, 0, 0);
}
.Container{
    padding: 10px 0;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(170, 136, 136, 0.25);
}
h3{
    font-size: x-large;
    margin: 5px 15px;
    color: antiquewhite;
}
h4{
    color:rgb(12, 36, 69);
    border-style: outset;
    border-color: rgb(0, 0, 0);
    padding: 10px 40px;
    margin: 10px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 3px 1px rgb(0, 0, 0) ;
    font-weight: bold;
    
}
h2{
    text-align: center;
    margin: 10px;
    color:antiquewhite;
    text-shadow: 4px 3px 1px rgb(0, 0, 0);
}
h6{
    text-align: center;
    padding-bottom: 2px;
    margin: 10px;
    color: rgb(0, 187, 255);
    text-shadow: 4px 3px 1px rgb(0, 0, 0);
}
footer{
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
h5{
    text-align: center;
    margin: 5px;
    color:rgb(12, 36, 69);

}
li:hover{
    background-color:rgba(12, 36, 69, 0.25);
    cursor: pointer;
    color:rgb(12, 36, 69);
}

h4:hover{
    background-color:rgba(12, 36, 69, 0.25);
    cursor: pointer;
    color: white;
}
img:hover{
    box-shadow: 2px 3px 4px rgb(0, 200, 255);
}
a{
    text-decoration-line: none;
    color: rgb(12, 36, 69);
}